<tr><br/><br/><br/></tr>
<section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter" style="text-align: center;">Suas Provas</h2>
      <button mat-button routerLink="/createExam" class="botao">Adicionar Prova</button>
    </header>
    <br/>
    <div *ngIf="examList.length > 0, else noQuestions">    
      <div *ngFor="let exam of examList">
        <mat-accordion>
          <mat-expansion-panel style="background-color:lightblue;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <th><button mat-button routerLink="/editExam/{{exam.id}}"><mat-icon class="material-symbols-outlined" >edit</mat-icon></button></th>
                {{exam.subject}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br/><br/>
            <div *ngFor="let question of exam.questions">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-size: 20px;">{{question.question}}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div style="font-size: 18px; text-align: center;">
                    Alternativas
                  </div>
                  <div style="font-size: 16px;">A: &nbsp;&nbsp;{{question.alt1}}</div>
                  <div style="font-size: 16px;">B: &nbsp;&nbsp;{{question.alt2}}</div>
                  <div style="font-size: 16px;">C: &nbsp;&nbsp;{{question.alt3}}</div>
                  <div style="font-size: 16px;">D: &nbsp;&nbsp;{{question.alt4}}</div>
                  <div style="font-size: 16px;">Resp: &nbsp;&nbsp;{{question.answer}}</div>
                </mat-expansion-panel>
                <br/>
              </mat-accordion>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br/>
      </div>
    </div>
    <br/>
    <div style="text-align: center;">
      <button mat-button routerLink="/{{backRoute}}" class="botao">Voltar</button>
    </div>
  </section>
  <ng-template #noQuestions>
    <div class="ff-inter no-questions">
      <p>Não existem Provas Cadastradas!</p>
    </div>
  </ng-template>
  <div>
</div>