<section class="container question ff-inter">
    <header class="header">
      <h2>Adicione um <br>pensamento novo:</h2>
    </header>
    <form>
      <label for="question">Questão</label>
      Texto da Questão
      
      <label for="modelo">Selecione a resposta:</label>
      <div class="container-radio">
        <div class="radio-modelo">
          <label for="modelo-alternativa">
            <input
              type="radio"
              id="alt1"
              value="alt1"
              name="alternativa-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Alternativa 1</span>
          </label>
        </div>
  
        <div class="radio-modelo">
          <label for="modelo-alternativa">
            <input
              type="radio"
              id="alt2"
              value="alt2"
              name="alternativa-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Alternativa 2</span>
          </label>
        </div>
  
        <div class="radio-modelo">
          <label for="modelo-alternativa">
            <input
              type="radio"
              id="alt3"
              value="alt3"
              name="alternativa-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Alternativa 3</span>
          </label>
        </div>

        <div class="radio-modelo">
            <label for="modelo-alternativa">
              <input
                type="radio"
                id="alt4"
                value="alt4"
                name="alternativa-card"
              >
              <div class="custom-radio">
                <span></span>
              </div>
              <span>Alternativa 4</span>
            </label>
          </div>
        </div>
      <div class="acoes">
        <button mat-raised-button disabled color="primary" class="botao">Voltar</button>
        <button mat-raised-button color="primary" class="botao">Próxima</button>
      </div>
    </form>
  </section>
  