<tr><br/><br/><br/></tr>
<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter" style="text-align: center;">Questões cadastradas</h2>
    <button mat-button routerLink="/createQuestion" class="botao">Adicionar Questão</button>
  </header>
  <br/>
  <div *ngFor="let question of listQuestion">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 20px;">
            <th><button mat-button routerLink="/editQuestion/{{question.id}}"><mat-icon class="material-symbols-outlined" >edit</mat-icon></button></th>
            {{question.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="font-size: 18px; text-align: center;">
          Alternativas
        </div>
        <div style="font-size: 16px;">A: &nbsp;&nbsp;{{question.alt1}}</div>
        <div style="font-size: 16px;">B: &nbsp;&nbsp;{{question.alt2}}</div>
        <div style="font-size: 16px;">C: &nbsp;&nbsp;{{question.alt3}}</div>
        <div style="font-size: 16px;">D: &nbsp;&nbsp;{{question.alt4}}</div>
        <div style="font-size: 16px;">Resp: &nbsp;&nbsp;{{question.answer}}</div>
      </mat-expansion-panel>
      <br/>
    </mat-accordion>
  </div>
  <br/>
  <div style="text-align: center;">
    <button mat-button routerLink="/{{backRoute}}" class="botao">Voltar</button>
  </div>
</section>
<ng-template #noQuestions>
  <div class="ff-inter no-questions">
    <p>Ainda não existem questões cadastradas!</p>
  </div>
</ng-template>
