<tr><br/><br/><br/></tr>
<section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter" style="text-align: center;">Suas Tarefas</h2>
      <button mat-button routerLink="/createTask" class="botao">Adicionar Tarefas</button>
    </header>
    <br/>
    <div *ngFor="let task of taskList">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <th><button mat-button routerLink="/editTask/{{task.id}}"><mat-icon class="material-symbols-outlined" >edit</mat-icon></button></th>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br/><br/>
          <mat-panel-description>
            <div *ngIf="task.userId[0] != null || task.userId.length > 0">
              Aluno: {{userList[task.userId[0]-1].username}}
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Nota: {{task.grade!/10}}
          </mat-panel-description>
          <mat-card style="background-color:lightblue;">
            <mat-card-title-group>
              <mat-card-title>{{task.exam.subject}}</mat-card-title>
            </mat-card-title-group>
            <br/>
            <mat-card-content>
              <div *ngFor="let question of task.exam.questions">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: 20px;">{{question.question}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="font-size: 18px; text-align: center;">
                      Alternativas
                    </div>
                    <div style="font-size: 16px;">A: &nbsp;&nbsp;{{question.alt1}}</div>
                    <div style="font-size: 16px;">B: &nbsp;&nbsp;{{question.alt2}}</div>
                    <div style="font-size: 16px;">C: &nbsp;&nbsp;{{question.alt3}}</div>
                    <div style="font-size: 16px;">D: &nbsp;&nbsp;{{question.alt4}}</div>
                    <div style="font-size: 16px;">Resp: &nbsp;&nbsp;{{question.answer}}</div>
                  </mat-expansion-panel>
                  <br/>
                </mat-accordion>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <br/>
      </mat-accordion>
    </div>
    <br/>
    <div style="text-align: center;">
      <button mat-button routerLink="/{{backRoute}}" class="botao">Voltar</button>
    </div>
  </section>
  <ng-template #noQuestions>
    <div class="ff-inter no-questions">
      <p>Não existem Tarefas para realizar!</p>
    </div>
  </ng-template>
  <div>
</div>