<section class="container">
    <br/><br/>
    <header>
        <h2 style="text-align: center;">Editar Tarefa:</h2>
    </header>
    <form>
        <th style="float: right;"><button mat-button (click)="removerTask()"><mat-icon>delete</mat-icon></button></th>
        <h2>Título</h2>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Título</mat-label>
              <input matInput
                type="textarea"
                class="input"
                id="title"
                name="title"
                [(ngModel)]="task.title"
              >
            </mat-form-field></td>
        </tr></table>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <h2 style="text-align: center;">Usuários</h2>
        <div class="selectBox">
            <select multiple name="selectedTechs"[(ngModel)]="task.userId">
                <option *ngFor="let user of listUser" [ngValue]="user.id">
                     {{ user.name }} || {{user.username}}
                </option>
            </select> 
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Lista de Usuários
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br/>
              <div class="mural" *ngIf="listUser.length > 0">    
                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Nível de Usuário</th>
                    </tr>
                    <tr *ngFor="let user of listUser">
                        <th>{{user.id}}</th>
                        <th>{{user.name}}</th>
                        <th>{{user.username}}</th>
                        <th>{{user.userDesc}}</th>
                    </tr> 
                </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <h2 style="text-align: center;">Prova</h2>
        <div class="selectBox">
            <select name="selectedTechs"[(ngModel)]="task.exam">
                <option *ngFor="let exam of listExam" [ngValue]="exam">
                     {{ exam.id }} || {{exam.subject}}
                </option>
            </select> 
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Lista de Provas
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br/>
              <div class="mural" *ngIf="listExam.length > 0">    
                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Tema/Matéria</th>
                    </tr>
                    <tr *ngFor="let exam of listExam">
                        <th>{{exam.id}}</th>
                        <th>{{exam.subject}}</th>
                    </tr> 
                </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br/><br/>
        <div class="acoes">
            <button mat-button (click)="cancelar()" class="botao">Cancelar</button>
            <button mat-button (click)="editTask()" class="botao">Salvar</button>     
        </div>
    </form>
</section>