<tr><br/><br/><br/></tr>
<section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter" style="text-align: center;">Suas Provas</h2>
    </header>
    <div *ngFor="let task of taskList">
      <mat-accordion *ngIf="task.grade != 0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 18px;">{{task.title}}</mat-panel-title>
            <mat-panel-description>Nota: {{task.grade!/10}}</mat-panel-description>
          </mat-expansion-panel-header>
          <br/><br/>
          <mat-card style="background-color:lightblue;">
            <mat-card-title-group>
              <mat-card-title>{{task.exam.subject}}</mat-card-title>
            </mat-card-title-group>
            <br/>
            <mat-card-content>
              <div *ngFor="let question of task.exam.questions">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-size: 16px;">{{question.question}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="font-size: 14px; text-align: center;">
                      Alternativas
                    </div>
                    <div style="font-size: 14px;">A: &nbsp;&nbsp;{{question.alt1}}</div>
                    <div style="font-size: 14px;">B: &nbsp;&nbsp;{{question.alt2}}</div>
                    <div style="font-size: 14px;">C: &nbsp;&nbsp;{{question.alt3}}</div>
                    <div style="font-size: 14px;">D: &nbsp;&nbsp;{{question.alt4}}</div>
                    <div style="font-size: 14px;">Resp: &nbsp;&nbsp;{{question.answer}}</div>
                  </mat-expansion-panel>
                  <br/>
                </mat-accordion>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>
  <ng-template #noQuestions>
    <div class="ff-inter no-questions">
      <p>Não existem Provas Cadastradas!</p>
    </div>
  </ng-template>
  <div>
</div>
