<tr><br/><br/><br/></tr>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>history_edu</mat-icon></div>
                <mat-card-title>Tarefas</mat-card-title>
                <mat-card-subtitle>Suas Tarefas!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button routerLink="/tasksPage">Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column"></div>
</div>
<tr><br/></tr>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>quiz</mat-icon></div>
                <mat-card-title>Provas</mat-card-title>
                <mat-card-subtitle>Suas Provas!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button routerLink="/examsPage">Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column"></div>
</div>
<tr><br/></tr>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <mat-card class="example-card" *ngIf="flProfessor">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>history_edu</mat-icon></div>
                <mat-card-title>Questões</mat-card-title>
                <mat-card-subtitle>Suas Questões!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button routerLink="/listQuestion">Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column"></div>
</div>
<tr><br/></tr>
