<section class="container">
    <br/><br/>
    <header>
        <h2 style="text-align: center;">Editar Questão:</h2>
    </header>
    <form>
      <th style="float: right;"><button mat-button (click)="removerQuestion()"><mat-icon>delete</mat-icon></button></th>
      <h2>Questão</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Questão</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="question"
              name="question"
              placeholder="Escreva a pergunta"
              [(ngModel)]="question.question"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <h2>Alternativa 1</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alternativa 1</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="alt1"
              name="alt1"
              placeholder="Escreva uma Alternativa"
              [(ngModel)]="question.alt1"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <h2>Alternativa 2</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alternativa 2</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="alt2"
              name="alt2"
              placeholder="Escreva uma Alternativa"
              [(ngModel)]="question.alt2"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <h2>Alternativa 3</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alternativa 3</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="alt3"
              name="alt3"
              placeholder="Escreva uma Alternativa"
              [(ngModel)]="question.alt3"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <h2>Alternativa 4</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alternativa 4</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="alt4"
              name="alt4"
              placeholder="Escreva uma Alternativa"
              [(ngModel)]="question.alt4"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/> 
      <h2 style="text-align: center;">Resposta</h2>
      <div class="selectBox">
        <select name="selectedAnswer"[(ngModel)]="question.answer">
            <option *ngFor="let option of alternativas" [ngValue]="option">
                  {{option}}
            </option>
        </select> 
      </div>
  
      <div class="acoes">          
          <button mat-button (click)="cancelar()" class="botao">Cancelar</button>
          <button mat-button (click)="editQuestion()" class="botao">Salvar</button>
      </div>
    </form>
  </section>