<section class="container">
  <br/><br/>
  <header>
      <h2 style="text-align: center;">Editar Prova:</h2>
  </header>
  <form>
      <th style="float: right;"><button mat-button (click)="removerExam()"><mat-icon>delete</mat-icon></button></th>
      <h2>Tema/Matéria</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tema/Matéria</mat-label>
            <input matInput
              type="textarea"
              class="input"
              id="subject"
              name="subject"
              placeholder="Tema/Matéria"
              [(ngModel)]="exam.subject"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <h2>Data Limite</h2>
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data Limite</mat-label>
            <input matInput
              type="date"
              class="input"
              id="dueTo"
              name="dueTo"
              placeholder="Data Limite"
              [(ngModel)]="exam.dueTo"
            >
          </mat-form-field></td>
      </tr></table>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <div class="selectBox">
          <h2>Questões</h2>
          <select multiple name="selectedTechs"[(ngModel)]="exam.questions">
              <option *ngFor="let question of listQuestion" [ngValue]="question">
                   {{ question.question }}
              </option>
          </select> 
      </div> 
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Lista de Questões
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br/>
            <div class="mural" *ngIf="listQuestion.length > 0">    
              <table style="width:100%">
                  <tr>
                      <th>ID</th>
                      <th>Questão</th>
                      <th>Alternativa 1</th>
                      <th>Alternativa 2</th>
                      <th>Alternativa 3</th>
                      <th>Alternativa 4</th>
                      <th>Resposta</th>
                  </tr>
                  <tr *ngFor="let question of listQuestion">
                      <th>{{question.id}}</th>
                      <th>{{question.question}}</th>
                      <th>{{question.alt1}}</th>
                      <th>{{question.alt2}}</th>
                      <th>{{question.alt3}}</th>
                      <th>{{question.alt4}}</th>
                      <th>{{question.answer}}</th>
                  </tr> 
              </table>
          </div>
          </mat-expansion-panel>
      </mat-accordion>
      <div class="acoes">         
          <button mat-button (click)="cancelar()" class="botao">Cancelar</button>
          <button mat-button (click)="editExam()" class="botao">Salvar</button>
      </div>
  </form>
</section>